@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #f9fafb; /* Light background by default */
  --text-color: #1f2937; /* Light text color by default */
  --nav-color: #ffffff;
  --background: #ffffff;
  --foreground: #171717;
  --accent: #64ffda;
  --muted: #8892b0;
}

/* Light theme (this is the default) */
[data-theme="light"] {
  --bg-color: #f9fafb;
  --text-color: #1f2937;
  --nav-color: #ffffff;
}

/* Dark theme */
[data-theme="dark"] {
  --bg-color: #020c1b;
  --text-color: #ccd6f6;
  --nav-color: #112240;
  --background: #112240;
  --foreground: #ccd6f6;
  --accent: #57cbff;
  --muted: #495670;
}

/* Global body settings */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
  font-family: 'Inter', sans-serif;
}

h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Smooth scrolling */
@keyframes wobble {
  0%, 100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-3px);
  }
}
